
@{
    ViewData["Title"] = "CompletedBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Din reservertaion er hermed Gennemført.</h1>
<br />
<br />
<h2>Du vil modtage en mail på den givne Email med ordre info.</h2>
<br />
<div>
    <a asp-controller="Home" asp-action="Index">Tilbage til forsiden</a>
</div>