
@{
    ViewData["Title"] = "RoomSearchFailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Der var desværre ingen væresler der passer til dine ønsker</h1>
<div>
    <a asp-controller="Home" asp-action="Index">Tilbage</a>
</div>

