
@{
    ViewData["Title"] = "Om os";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Om os</h1>
<p>
    I det sydfynske landskab, som byder på mange rekreative områder, ligger
    kroen og hotellet Landlyst. Hotellet ejes af Marianne og Poul Johansen.
    Hotellet har gennem det seneste år været lukket og der er foretaget en
    gennemgribende renovering, og modernisering, og nu er alle værelser blivet gjort klar
    til at modtage gæster fra alle verdenens hjørner.
</p>
<div>
    <a asp-controller="Home" asp-action="Index">Tilbage</a>
</div>

