@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Landlyst kro og hotel!</h1>
    <img src="https://thumbs.dreamstime.com/b/decorative-ecological-surface-hotel-building-wall-78971512.jpg" />
</div>
